<div class="navegador bg-white" style="">
    <div class="w-50 mx-auto my-2">
        <img src="./img/logo2.png" alt="logo Ubimed" class="img-fluid">
    </div>
    <div class="w-50 mx-auto">
        <a href="/perfil" class="w-100 d-flex justify-content-center align-items-center flex-columns">
            <img src="<%=usuario.rutaImg%>" class="img-fluid rounded-circle">
        </a>
    </div>
    <div class="w-75 mx-auto">
        <a href="/perfil">
            <p class="text-muted text-center mt-2 d-none ocultarSM d-md-block" style="line-height: 18px;">
                Hola
                <%=usuario.nombre%> <strong>Bienvenido</strong>
            </p>
            <hr>
        </a>
    </div>
    <div class="w-75 mx-auto">
        <a href="/" class="w-100 mb-3 d-flex justify-content-between centerSM align-items-center flex-wrap" style="color: #40D4A1;">
            <div style="width: 32px;" class="d-flex justify-content-center align-items-center">
                <i class="fas fa-house-user fa-2x "></i>
            </div>
            <small class="mt-1 letraLogo">Inicio</small>
        </a>
        <a href="/perfil" class="w-100 mb-3 d-flex justify-content-between centerSM align-items-center flex-wrap" style="color: #40D4A1;">
            <div style="width: 32px;" class="d-flex justify-content-center align-items-center">
                <i class="fas fa-user-md fa-2x "></i>
            </div>
            <small class="mt-1 letraLogo">Perfil</small>
        </a>
        <a href="/consultorio" class="w-100 mb-3 d-flex justify-content-between centerSM align-items-center flex-wrap" style="color: #40D4A1;">
            <div style="width: 32px;" class="d-flex justify-content-center align-items-center">
                <i class="fas fa-hospital-user fa-2x "></i>
            </div>
            <small class="mt-1 letraLogo">Pacientes</small>
        </a>
        <a href="/consulta" class="w-100 mb-3 d-flex justify-content-between centerSM align-items-center flex-wrap" style="color: #40D4A1;">
            <div style="width: 32px;" class="d-flex justify-content-center align-items-center">
                <i class="fas fa-laptop-medical fa-2x" style="color: #40D4A1;"></i>
            </div>
            <small class="mt-1 letraLogo">Videoconsulta</small>
        </a>
        <a href="/agenda" class="w-100 mb-3 d-flex justify-content-between centerSM align-items-center flex-wrap" style="color: #40D4A1;">
            <div style="width: 32px;" class="d-flex justify-content-center align-items-center">
                <i class="fas fa-calendar-alt fa-2x "></i>
            </div>
            <small class="mt-1 letraLogo">Agenda</small>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573042178381&text=Hola,%20Ubimed%20necesito%20soporte." class="w-100 mb-5 d-flex justify-content-between centerSM align-items-center flex-wrap" style="color: #40D4A1;">
            <div style="width: 32px;" class="d-flex justify-content-center align-items-center">
                <i class="fas fa-headset fa-2x "></i>
            </div>
            <small class="mt-1 letraLogo">Soporte</small>
        </a>
        <a href="/logout" class="w-100 mb-5 d-flex justify-content-between centerSM align-items-center flex-wrap" style="color: #40D4A1;">
            <i class="fas fa-sign-out-alt fa-2x"></i>
            <small class="mt-1 letraLogo">Cerrar Sesión</small>
        </a>
    </div>
</div>